@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');



*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    height: 125vh;
}

nav{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgb(240, 236, 236);
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.name-logo{
    font-family: 'Rubik', sans-serif;}

.link-container{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.link-container a{
    color: black;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.homepage-container{
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
}

.homepage-container h1{
    position: absolute;
    top: 30px;
}

.homepage-about-container{
    position: absolute;
    width:  50%;
    height: 30%;
    bottom: 45vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-about-image-container{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    bottom: 40vh;
    left: 15vw;
    border: solid rgb(240, 236, 236) 5px;
    z-index: 2;
    /*
    background: url("/static/imgs/profile_picture.jpg");
    */
    background-size: cover;
}

footer{
    width: 100%;
    height: 25vh;
    background-color: white;
    display: flex;
    justify-content: center;
    border-top: solid 5px rgb(240, 236, 236);
}

.footer-container{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-links a{
    color: black;
    margin: 10px;
    text-decoration: none;
}

.social-links-container{
    width: 70%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.social-links-container img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}








