<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type = "text/css" href = "static/styles/contact.css">
</head>
<body>
    <nav>
        <h1 class = "name-logo">Sam Wen</h1> 
        <div class = "link-container">
            <a href="/">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>  
        </div>
    </nav>


    <div class = 'contact-container'>
        <div class = 'contact-title-container'>
            <h1>Contact</h1>
        </div>
        <div class = "contact-info-container"> 
            <!--
            <div class = "contact-info-box"> </div>
            -->
            <h3> Email me at samwen2003@gmail.com</h3>
            
        </div>
    </div>

    <footer>
        <div class = "footer-container">
            <div class = "footer-links">
                <ul>
                    <a href="/">About</a>
                    <a href="/Projects">Projects</a>
                    <a href="/Contact">Contact</a>
                </ul>
            </div>
            <div class = "social-links-container">
                <img src="/static/imgs/GitHub-Emblem.png" alt="">
            </div>
        </div>
    </footer>
</body>
</html>